#main-frame {
	display:flex;
}

.main-sidebar {
	display: inline-flex;
	width:15em;
	height:100vh;
	background-color: goldenrod;
	border: 3px solid;
}

.main-topbar {
	display: inline-flex;
	position: absolute;
	width: 100%;
	height: 50px;
	background-color: goldenrod;
}

.main-hamburger {
	color: white;
    font-size: 2.8em!important;
    margin: auto 0;
    padding: 5px 10px 0 5px;
    position: absolute;
    background-color: darkgoldenrod;
    height: 50px;
}

.main-hamburger:hover {
	color:lightgray;
}

.main-hamburger:active {
	color:gray;
}

#search-container {
	margin:auto;
	display: grid;
	grid-template-columns:27vw 3vw;
	overflow: hidden;
	height:50px;
	width:30vw;
}

#main-search {
	height:75%;
	margin:auto;
	width:30vw;
	border-style:groove;
	font-size:2em;
}

#search-bar {
	margin:auto;
}

.fa-search {
	font-size: 1.5em!important;
	margin:auto;
	cursor: pointer;
}

.sidebar-option {
	width:100%!important;
}

#logo {
	width: 120px;
    position: absolute;
    margin: auto;
    height: 50px;
    left: 60px;
}

.menu-navbar {
	width: 100%;
    list-style: none;
    margin-top: 50px;
    padding: 0;
    text-align: center;
}

.menu-list-format {
	margin-top: 15px;
	height:40px;
}

.menu-option {
	text-decoration: none;
}

.title {
	margin-top: -0.3em;
	padding-left: 0.5em;
}

.navbar-nav {
	font-size: 1.5em;
}

.menu-list-format {
	display:flex;
	margin-left: 10px;
}

.voyager-list {
	width: 100%!important;
}

.dropdown.profile {
	margin: auto 10px;
    display: flex;
}

.dropdown-menu {
	position: absolute;
    display: block;
    left: -225px!important;
}

.login-register {
	margin-top: auto;
	margin-bottom: auto;
	padding-right: 10px;
}

.page-wrapper {
	margin-top: 50px;
}